! Creates an alert when a long-running action in the terminal finishes
URxvt.urgentOnBell:         true
! Makes URxvt the login shell
URxvt.loginShell:           true
! Sets the number of lines saved to reduce memory usage
URxvt.saveLines:            100
! Creates an internal border in the terminal to increase usability
URxvt.internalBorder:       1
! Sets line spacking
URxvt.lineSpace:            0

!!! Fonts !!!
! Allows bold font
URxvt.allow_bold:           true
! Sets font and bold font
URxvt*font: xft:Andale Mono:style=semiBold:pixelsize=14:antialias=true
URxvt*boldFont: xft:Andale Mono:style=bold:pixelsize=14:antialias=true
! Fix font spacing
URxvt*letterSpace: -1
 
! Scrollbar
URxvt.scrollStyle:          rxvt
! Gets rid of the scrollbar
URxvt.scrollBar:            false
 
!!! Perl extensions !!!
! Does some stuff
URxvt.perl-ext-common:  default,matcher
! Specifies the program to open links with
URxvt.url-launcher: 	/usr/bin/google-chrome-beta
! Type of button for links
URxvt.matcher.button:   1
! Color of links in terminal
URxvt.colorUL: 		#4682B4
 
!!! Cursor !!!
! Makes cursor blink when true
URxvt.cursorBlink:          true
! Changes cursor from block to underline
URxvt.cursorUnderline:      true
! Blanks out the pointer while typing
URxvt.pointerBlank:         true
 
!!! Color Scheme !!!
! Base16 Flat
! Scheme: Crhis Kempson (http://chriskempson.com)

#define base00 #2C3E50
#define base01 #34495E
#define base02 #7F8C8D
#define base03 #95A5A6
#define base04 #BDC3C7
#define base05 #e0e0e0
#define base06 #f5f5f5
#define base07 #ECF0F1
#define base08 #E74C3E
#define base09 #E67E22
#define base0A #F1C40F
#define base0B #2ECC71
#define base0C #1ABC9C
#define base0D #3498DB
#define base0E #9B59B6
#define base0F #be643c

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
